#configuration{
}

#data{
}

div.form-container{
    position:absolute;
    border:solid;
    border-color:black;
    border-width:2px;
    padding:0px;
    background-color:white;
}

div.form-container h2{
    border-bottom:solid;
    border-color:black;
    border-width:2px;
    padding:5px;
    cursor:pointer;
}

div.form-container form{
    padding:10px;
}

#data{
    float:right;
}


h2 i{
    float: right;
}

#description-container{
    margin-left: 50px;
    margin-right: 50px;
}
