#configuration{
}

#data{
}

div.form-container{
    position:absolute;
    border:solid;
    border-color:black;
    border-width:2px;
    padding:0px;
    background-color:white;
}

div.form-container h2{
    border-bottom:solid;
    border-color:black;
    border-width:2px;
    padding:5px;
}

div.form-container form{
    padding:10px;
}

#data{
    float:right;
}